.movieInfo
    display: flex
    gap: 5rem
    z-index: 2
    position: relative
    .imageWrapper
        position: relative
        height: auto
        width: 35%
        padding-bottom: 35%
        min-width: 288px
        img
            min-width: 100%
            width: auto
    .movieInfoAbout
        width: 100%
        display: flex
        flex-direction: column
        gap: 45px
        .aboutMain
            display: flex
            flex-direction: column
            gap: 15px
            align-items: flex-start
            .movieTitle
                font-size: 2.5rem
                font-weight: 700
                color: #fff
            .movieSlogan
                font-size: 1.4rem
                font-weight: 400
                color: #fff
                margin-bottom: 25px