.movieInfo
    display: flex
    gap: 5rem
    z-index: 2
    position: relative
    .imageWrapper
        position: relative
        height: auto
        width: 30%
        aspect-ratio: .70
        .rating
            position: absolute
            top: 1rem
            left: 1rem
            width: 16%
            height: 6%
            display: flex
            justify-content: center
            align-items: center
            color: #fff
            z-index: 2
            font-size: .8rem
            border-radius: 5px
        img
            object-fit: cover
            min-width: 100%
            width: auto
    .movieInfoAbout
        width: 100%
        display: flex
        flex-direction: column
        gap: 45px
        .aboutMain
            display: flex
            flex-direction: column
            gap: 15px
            align-items: flex-start
            .movieTitle
                font-size: 2.5rem
                font-weight: 700
                color: #fff
            .movieSlogan
                font-size: 1.4rem
                font-weight: 400
                color: #fff
                margin-bottom: 25px