@import '@/styles/variables'
    
.movieImages
    .wrapper
        display: grid
        grid-template-columns: repeat(5,1fr)
        row-gap: 20px
        column-gap: 20px
        justify-items: center
        @media(max-width: $tab)
            grid-template-columns: repeat(4,1fr)
        @media(max-width: $tab-sm)
            grid-template-columns: repeat(3,1fr)
        @media(max-width: $mob)
            grid-template-columns: repeat(2,1fr)

        .imageWrapper
            width: 100%
            position: relative
            padding-bottom: 60%
            display: inline-block
            background: gray
            img
                position: absolute
                width: 100%
                height: 100%
                object-fit: cover
