@import '@/styles/variables'
    
.review
    max-width: 800px
    background: $main-color
    border-radius: $rounded
    .reviewContent
        padding: 1rem
        p
            margin: 0
            white-space: pre-line
            word-wrap: break-word
            font-size: 14px
            line-height: 20px

        .truncated 
            max-height: 100px
            overflow: hidden
    .reviewBottom
        position: relative
        height: 50px
        border-top: 1px solid $second-color
        display: flex
        align-items: center
        justify-content: center
        padding: 1rem
        @media(max-width: $tab-sm)
            justify-content: flex-end
        span
            position: absolute
            left: 1rem
        button
.badReview
    background: #611d1d
.goodReview
    background: #1d612c