.personAboutList
    display: flex
    flex-direction: column
    gap: 20px
    li
        display: flex
        align-items: center
        h5
            flex: 0 0 170px
            color: #a8a29e
        span