.logo 
    display: flex
    align-items: center
    .logoText
        font-size: 1.8rem
        font-weight: 700
        color: #fff
        span
            color: var(--accent-color)
    .logoIcon
        color: #fff
        font-size: 1.8rem