.reviews
    display: flex
    flex-direction: column
    align-items: center
    h5
        margin-bottom: 20px
        font-weight: 700
        font-size: 1.5rem
    .reviewsList
        display: flex
        flex-direction: column
        gap: 15px
        align-items: center
